.App {
  text-align: center;
}
.mapid{
  height:100px;
}

.marker-cluster-custom {
  background: orange;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: darkblue;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}
